@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  display: flex;
  flex-direction: row;
}

.pressable {
  cursor: pointer
}

.hover-bar {
  transition: background 0.1s ease;
}
.hover-bar:hover {
  background-color: rgba(0, 0, 0, 0.1);
}